


<div class="form-container">
  <p>Ask your coach anything</p>
  <form action="/answer">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Ask!</button>
      </div>
      <input type="text" class="form-control" name="question" placeholder="Your question please ?" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  </form>
</div>

